<!-- template para função visualização -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Visualizar Contrato</title>
        <a href="{{ url_for('index') }}">Voltar</a>
    </head>
<!-- Implementei a visualização do contrato para, por exemplo, formatar para impressão. -->
    <body>  
        <h3>Visualizar Contrato</h3>
        
        <form action = "" method = "POST">
            ID: {{ contrato.id }}<br>
            Locador: {{ contrato.locador }}<br>
            Locatário: {{ contrato.locatario }}<br>
            Imóvel Objeto {{ contrato.imovel_contratado }}<br>
            Vigência {{ contrato.vigencia_contrato }}<br>
            Termos: {{ contrato.termos }}<br>
            <a href="{{ url_for('show_contrato') }}">Voltar</a>
            <a href="{{ url_for('update_contrato', id=contrato.id) }}">Atualizar</a>
            <a href="{{ url_for('delete_contrato', id=contrato.id) }}">Excluir</a>
        </form>
        <!-- Espaço para mensagens. Basicamente aqui aparecerá informações de sucesso da atualização
ou exlusão de um objeto. -->
        <h3>
            {%- for category, message in get_flashed_messages(with_categories=true) %}
                    {{ message }}
            {%- endfor %}
        </h3>
    </body>
</html>