<!-- template para função visualização -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Imóveis</title>
        <a href="{{ url_for('index') }}">Voltar</a>
    </head>
<!-- Podemos também implementar a visualização de um objeto em particular caso requerido. -->
    <body>  
        <h3>Lista de Imóveis</h3>
        <h4>
            <!-- Lista só para imaginar as possibilidades de design. -->
            <ul>
            <li><a href="{{ url_for('show_imovel') }}">Atualizar Lista</a></li>
            <li><a href="{{ url_for('new_imovel') }}">Adicionar Imóvel</a></li>
            </ul>
        </h4>   
        <table>
            <!-- Formatação da tabela de dados do objeto, incluindo opção editar e excluir -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>CEP</th>
                    <th>Endereço</th>
                    <th>Area</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for imovel in imovel %}
                <tr>
                    <td>{{ imovel.id }}</td>
                    <td>{{ imovel.tipo }}</td>
                    <td>{{ imovel.cep }}</td>
                    <td>{{ imovel.endereco }}</td>
                    <td>{{ imovel.area }}</td>
                    <th><a href="{{ url_for('id_imovel', id=imovel.id) }}">Detalhar</a></th>
                    <th><a href="{{ url_for('update_imovel', id=imovel.id) }}">Atualizar</a></th>
                    <th><a href="{{ url_for('delete_imovel', id=imovel.id) }}">Excluir</a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
<!-- Espaço para mensagens. Basicamente aqui aparecerá informações de sucesso da atualização
ou exlusão de um objeto. -->
        <h3>
            {%- for category, message in get_flashed_messages(with_categories=true) %}
                    {{ message }}
            {%- endfor %}
        </h3>
    </body>
</html>  