<!-- template para função visualização -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar Contrato</title>
    </head>
    <body>
            <h3>Atualize os dados do Contrato</h3>

        {%- for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {%- endfor %}

        <form action="" method="post" >
            <!-- Com a eventual opção de editar ID, para usuários com a devida permissão.
            Dará bug se colocarmos IDs repetidas por isso seria bom implementar uma
            validação e/ou confirmação -->
            <label for="id">ID</label><br>
            <input type="text" name="id" placeholder="ID" value="{{contrato.id}}"><br>
            <label for="locador">Locador</label><br>
            <input type="text" name="locador" placeholder="Locador" value="{{contrato.locador}}"><br>
            <label for="locatario">Locatário</label><br>
            <input type="text" name="locatario" placeholder="Locatário" value="{{contrato.locador}}"><br>
            <label for="imovel_contratado">Imóvel Objeto</label><br>
            <input type="text" name="imovel_contratado" placeholder="Imóvel Contratado" value="{{contrato.imovel_contratado}}"><br>
            <label for="vigencia_contrato">Vigência do Contrato</label><br>
            <input type="text" name="vigencia_contrato" placeholder="Vigência do Contrato" value="{{contrato.vigencia_contrato}}"><br>
            <label for="termos">Termos do Contrato</label><br>
            <input type="text" name="termos" placeholder="Termos do Contrato" value="{{contrato.termos}}"><br><br>
            <input type="submit" value="Submit">
            <a href="{{ url_for('show_contrato') }}">Cancelar</a>
            </form>
    </body>
</html>